<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Vacation Wishlist</title>
   <style type="text/css">
   .images {
       display: flex;
   }

   .inputs {
       display: flex;
       flex-direction: column;
   }

   #edit-field {
       margin-top: 5px;
   }
   </style>
</head>
    <body>   
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <h1>Vacation Wishlist</h1>
        <form method="POST">
          <div class="inputs">
            <div>
              <input id="cityInput" type="text" placeholder="name" name="name">
              <input type="text" placeholder="photos" name="photos">
              <button type="submit">Submit</button>
            </div>
            <div class="edit-city">
                <input id="edit-field" type="text" placeholder="Edit City" name="Edit City">
                <button type="submit">Change City</button>
            </div>
          </div>
         </form> 
         <ul>
            <% if (cities) { %>
            <% for (var i = 0; i < cities.length; i++) { %>
                <li>
                    <div>
                      <button class="update" type="submit">Edit</button>
                      <button name="<%= cities[i].name %>" class="delete" type="submit">Delete</button>
                    </div>
                    <span><%= cities[i].name %></span>
                    <div class="images">
                            <% for (var j=0; j < cities[i].photos.length; j++) { %>
                                <img src="<%=cities[i].photos[j]%>" />
                            <% } %> 
                    </div>
         
                </li>
            <% } %>
            <% } %>
        </ul>
        <script>
            $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
        </script>
        <script src="main.js"></script>
    </body>
</html>